.span-24.last.pair
  .span-4.label= @item
  .span-12.last.value= @name
.span-24.last.pair
  .span-4.label plays
  .span-8.last.value= commify(@item_count.to_i)
.span-24.last
  - @relate.each do |rel|
    .span-9.append-1.prepend-1
      %h3.label= rel
      %table.span-10
        - @relate_data[rel][0..9].each do |row|
          %tr
            %td.span-10= detail_link(rel, row["_id"], row[rel])
            %td.span-4.number= commify(row["count"].to_i)
      .span-9.table_total.last= "Total: #{@relate_data[rel].count}"
